/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

%reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}

%desktop-title{
color: #000;
font-family: "Oswald",sans-serif;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 60px;
}

%small-title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

%form-paragraph {
  color: var(--special_dark-grey, #444444);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
