/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";

/* BLOCKS */
@import "./blocks/main-header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/description.scss";
@import "./blocks/green-button.scss";
@import "./blocks/advantages.scss";
@import "./blocks/advantages-container.scss";
@import "./blocks/advantages-container-top.scss";
@import "./blocks/advantages-container-bottom.scss";
@import "./blocks/working.scss";
@import "./blocks/working-list.scss";
@import "./blocks/example.scss";
@import "./blocks/example-container.scss";
@import "./blocks/example-container-list.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/footer-invitation.scss";
@import "./blocks/contacts-container.scss";
@import "./blocks/main-footer-messengers.scss";
@import "./blocks/main-footer-container.scss";
@import "./blocks/messengers-list.scss";
@import "./blocks/html-list.scss";
@import "./blocks/slider.scss";
//Страница каталога
@import "./blocks/main-catalog.scss";
@import "./blocks/types-list.scss";
@import "./blocks/types-item.scss";
@import "./blocks/additionally.scss";
@import "./blocks/products.scss";
//Страница формы
@import "./blocks/main-form.scss";
@import "./blocks/fill.scss";
@import "./blocks/filter.scss";
@import "./blocks/form-part.scss";
@import "./blocks/form-part-list.scss";
