.additionally {
  margin-bottom: 36px;

  @media(min-width: $tablet-width) {
    width: 718px;
    padding-left: 11px;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  @media(min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additionally__container {
  @media(min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    gap: 79px;
    margin-bottom: 0;
  }
}

.additionally__title {
  @extend %small-title;
  @extend %reset;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 48px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 246px;
    width: 54px;
    height: 2px;
    background: #68b738;

    @media(min-width: $tablet-width) {
      top: 22px;
      left: 379px;
      width: 319px;
    }
    @media(min-width: $desktop-width) {
      width: 951px;
    }
  }

  &::after {
    @media(min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 22px;
      left: -70px;
      width: 30px;
      height: 2px;
      background: #68b738;
    }
    @media(min-width: $desktop-width) {
      left: -109px;
      width: 68px;
    }
  }

  @media(min-width: $tablet-width) {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-left: 39px;
    margin-bottom: 81px;
  }

  @media(min-width: $desktop-width) {
    margin-left: 79px;
    margin-bottom: 80px;
  }
}
