.additionally {
  margin-bottom: 36px;
  padding-left: 42px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 449px;
    height: 2px;
    background: #68b738;

    @media (min-width: $tablet-width) {
      top: 22px;
      left: 379px;
    }

    @media (min-width: $desktop-width) {
      left: 508px;
      top: 23px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 23px;
      left: -748px;
      height: 2px;
      background: #68b738;
      transform: rotate(360deg);
    }

    @media (min-width: $desktop-width) {
      left: -1390px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 5px;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}


.additionally__all-container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 720px;
    margin: 0 auto;
    padding-left: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-left: 0;
  }
}

.additionally__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    gap: 79px;
  }
}

.additionally__title {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 47px;


  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto 78px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-left: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto 81px;
  }
}
