.additionally {
  margin-bottom: 36px;
  padding-left: 42px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 50%;
    height: 2px;
    background: #68b738;
    width: 100%;

    @media (min-width: $tablet-width) {
      top: 22px;
      left: 469px;
    }

    @media (min-width: $desktop-width) {
      left: 508px;
      top: 22px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 22px;
      left: -74%;
      height: 2px;
      background: #68b738;
      width: 100%;
      transform: rotate(360deg);
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 5px;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.additionally__text {
  display: inline-block;
  background-color: #ffffff;
  padding-right: 21px;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 38px;
  }
}

.additionally__all-container {
  width: 323px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 720px;
    margin: 0 auto;
    padding-left: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 1297px;
    margin: 0 auto;
    padding-left: 0;
  }
}

.additionally__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    gap: 79px;
    padding-left: 39px;
  }
}

.additionally__title {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 48px;
  position: relative;
  z-index: 5;


  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto 78px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1297px;
    margin: 0 auto 81px;
  }
}
