.advantages-container-top {
  background: var(--basic_grey, #f2f2f2);
  padding: 21px 33px 18px 20px;
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../images/icons/cat-slim.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
    top: 21px;
    left: 27px;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      top: 80px;
      left: 476px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 67px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
    top: 24px;
    left: 21px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 445px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 53px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    background-size: 140px 194px;
    background-position: 475px 81px;
    margin-bottom: 30px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    background-size: 70px 97px;
    background-position: 67px 41px;
    margin-bottom: 0;
    padding-bottom: 60px;
  }
}

.advantages-container-top__title {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 10px;
  margin-left: 71px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-left: 33px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-top: 56px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-top: 56px;
    margin-left: 193px;
    margin-bottom: 72px;
  }
}

.advantages-container-top__text {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 41px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    background: #d9d9d9;
    top: calc(100% + 21px);
    left: 0;
  }

  @media (min-width: $tablet-width) {
    width: 340px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 33px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 454px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 33px;
    margin-bottom: 28px;
  }
}

.advantages-container-top__link {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;


  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 12px;
    top: 6px;
    left: 102px;
    background-image: url("../../images/icons/icon_arrow.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 8px;
      left: calc(100% + 26px);
    }
  }

  &:hover::before {
    background-image: url("../../images/icons/icon_arrow-big.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 33px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 32px;
  }
}
