.description {
  margin-bottom: 20px;
  background-image: url("../../images/chicken-box-mobile@1x.png");
  background-repeat: no-repeat;
  min-height: 400px;
  background-position: 20px 167px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: 319px;
    height: calc(100% - 178px);
    background-image: url("../../images/cat-logo-background@2x.png");
    background-position: -5px 0;
    background-repeat: no-repeat;
    background-color: rgb(90, 151, 90);
    z-index: -1;

    @media(min-width: $tablet-width) {
      background-image: none;
      background-color: #ffffff;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/chicken-box-tablet@1x.png");
    min-height: 790px;
    background-position: 30px 202px;
    padding-left: 30px;
    padding-right: 30px;
    padding-left: 120px;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
    background-image: url("../../images/chicken-box-desctop@1x.png");
    background-position: 557px 22px;
    padding-left: 190px;
    margin-bottom: 155px;
  }
}

.description__title {
  @extend %reset;
  @extend %title;
  padding-top: 26px;
  text-align: center;
  margin-bottom: 26px;
  color: #ffffff;
  word-wrap: break-word;

  @media(min-width: $tablet-width) {
    color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    width: 417px;
    margin-bottom: 40px;
    padding-top: 0;
    text-align: left;
  }

  @media(min-width: $desktop-width) {
    padding-top: 103px;
    width: 416px;
    color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

.description__text {
  @extend %reset;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 302px;
  text-align: center;
  color: #ffffff;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    color: #000000;
    margin-bottom: 49px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    z-index: 100;
    position: relative;
    display: block;
  }

  @media (min-width: $desktop-width) {
    color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 52px;
  }
}
