.example-container-list {
  @extend %reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 280px;
  flex-wrap: wrap;
  @media(min-width: $tablet-width){
    width: 367px;
    gap: 43px;
  }
  @media(min-width: $desktop-width){
    gap:40px;
    margin-bottom: 35px;
  }
}

.example-container-list__item {
  width: 124px;
  padding-top: 16px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  background-image: url("../../images/icons/frame.svg");
  background-repeat: no-repeat;

  @media(min-width: $tablet-width){
    width: 162px;
    padding-top: 14px;
    padding-left: 18px;
    padding-right: 19px;
  }
}

.example-container-list__item--days {
  padding-left: 22px;
  padding-right: 19px;
  @media(min-width: $tablet-width){
    padding-left: 18px;
    background-image: url("../../images/icons/frame-tablet-days.svg");
  }
}

.example-container-list__title {
  @extend %reset;
  @extend %small-title;
  line-height: 24px;
  text-align: center;
  margin-bottom: 7px;
  word-wrap: break-word;
  @media(min-width: $tablet-width) {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 12px;
  }

  @media(min-width: $desktop-width) {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
  }
}

.example-container-list__text {
  @extend %reset;
  width: 77px;
  color: var(--special_dark-grey, #444);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  word-wrap: break-word;
  @media(min-width: $tablet-width){
    width: 125px;
    font-size: 14px;
  }
  @media(min-width: $desktop-width){
    width: 126px;
  }
}
