.example-container-list {
  @extend %reset;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.example-container-list__title {
  @extend %reset;
  @extend %small-title;
  line-height: 24px;
  text-align: center;
}

.example-container-list__text {
  @extend %reset;
  width: 77px;
  text-align: center;
}
