.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    gap: 224px;
    background-color: #eaeaea;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 76px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 161px;
      background-color: #ffffff;
      top: 0;
      left: 0;
    }
  }
}

.example__top {
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.example__big-container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  margin-bottom: 43px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 145px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
  }
}

.example__text {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 19px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    width: 708px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 436px;

    br {
      display: block;
    }
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    background: #eaeaea;
    position: relative;
    padding-bottom: 99px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 147px;
      background-color: #ffffff;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}
