.green-button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 64px;
  background-color: #68b638;
  color: #ffffff;
  box-sizing: border-box;
  max-width: 280px;
  display: inline-block;
  word-wrap: break-word;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
  }

  &:active .green-button__span {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 28px 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    padding: 14px 27px;
  }
}


.green-button--white {
  background: var(--basic_grey, #f2f2f2);
  color: var(--special_dark-grey, #444444);
  min-width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    background-color: #ebebeb;
  }

  @media (min-width: $tablet-width) {
    min-width: 250px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.green-button--order {
  min-width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 250px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.green-button--more-order {
  @media (min-width: $tablet-width) {
    padding-left: 24px;
    min-width: 632px;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
    align-self: flex-start;
  }
}
