.html-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px 140px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 168px;
    justify-content: flex-end;
    gap: 23px;
  }
}

.html-list__link {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  text-decoration: none;
  color: #444444;
}

.html-list__text {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
  }
}

.html-list__image {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
