.html-list {
  @extend %reset;
  display: flex;
  justify-content: space-between;
  @media(min-width: $tablet-width){
    width: 168px;
    justify-content: flex-end;
    gap:23px;
  }
}

.html-list__link {
  @extend %reset;
  font-size: 16px;
  text-decoration: none;
  color: #444444;
}

.html-list__text{
  @extend %reset;
  padding-top: 8px;
  @media(min-width: $tablet-width){
    padding-top: 8px;
  }
  @media(min-width: $desktop-width){
    padding-top: 8px;
  }
}
