.main-form {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box
}

.main-form__title {
  @extend %title;
  @extend %reset;
  margin-bottom: 37px;

  @media(min-width:$tablet-width) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-left: 50px;
    margin-bottom: 54px;
  }
  @media(min-width:$desktop-width) {
    margin: 47px 89px 55px;
  }
}
