.main-footer-messengers {
  padding:34px 20px;
  box-sizing: border-box;
  @media(min-width:$tablet-width){
    padding: 51px 30px;
  }
  @media(min-width:$desktop-width){
    padding: 63px 110px;
  }
}
