.main-title--catalog{
  @media(min-width:$tablet-width) {
    margin-bottom: 75px;
  }
  @media(min-width:$desktop-width) {
    margin-bottom: 63px;
  }
}

.main-title--form{
  @media(min-width:$tablet-width) {
    margin-bottom: 38px;
  }
  }
