.main-catalog {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 145px;
    width: 320px;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.main-catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  word-wrap: break-word;
  width: 280px;
  margin: 0 auto 40px;
  padding-top: 27px;


  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto 96px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-top: 30px;
    padding-top: 1px;
  }

  @media (min-width: $desktop-width) {
    width: 1219px;
    margin: 68px auto 76px;
  }
}
