.messengers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: 74px;
  margin-right: 74px;
  margin-bottom: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -22px;
    left: -73px;
    width: 280px;
    height: 1px;
    background: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(100% + 15px);
    left: -73px;
    width: 280px;
    height: 1px;
    background: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 132px;
    margin: 0;
    padding: 0;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-top: 5px;
  }
}

.messengers-list__image {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
