.navigation {
  @extend %reset;
  display: none;

  @media(min-width: $tablet-width) {
    width: 445px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 14px;
  }

  @media(min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 20px;
    padding-top: 0;
    width: 478px;
    padding-bottom: 10px;
  }
}

.navigation--catalog {
  @media(min-width: $desktop-width) {
    gap: 33px;
    margin-top: 21px;
  }
}

.navigation--form {
  @media(min-width: $desktop-width) {
    gap: 33px;
  }
}

.navigation__open {
  display: block;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  top: 44px;
  left: 0;
}

.navigation__close {
  display: none;
  @media(min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__item {
  width: 25px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    min-width: 320px;
    height: 1px;
    background-color: #e6e6e6;
    top: 9px;
    left: 0;

    @media(min-width: $tablet-width) {
      display: none;
    }
  }

  &.navigation__item:last-child {
    &::after {
      content: "";
      position: absolute;
      min-width: 320px;
      height: 1px;
      background-color: #e6e6e6;
      top: 66px;
      left: 0;

      @media(min-width: $tablet-width) {
        display: none;
      }
    }
  }

  @media(min-width: $tablet-width) {
    width: 155px;
    padding: 0;
    text-align: center;
  }

  @media(min-width: $desktop-width) {
    width: 170px;
    padding: 0;
    text-align: left;
  }
}

.navigation__item--main {
  @media(min-width: $tablet-width) {
    width: 64px;
  }

  @media(min-width: $tablet-width) {
    width: 72px;
  }
}

.navigation__link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  width: 320px;
  display: inline-block;
  padding-top: 32px;
  padding-left: 34px;
  padding-right: 37px;
  padding-bottom: 14px;
  box-sizing: border-box;
  &:hover{
    opacity: 0.6;
  }
  &:active{
    opacity: 0.3;
  }

  @media(min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    max-width: 153px;
  }

  @media(min-width: $desktop-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 170px;
    padding: 0;
    color: #ffffff
  }
}

.navigation__link--form {
  color: #000000;
}

.navigation__link--current {
  position: relative;
  @media(min-width: $tablet-width) {
    &::before{
      content: "";
      position: absolute;
      top: 30px;
      left: 1px;
      width: 100%;
      height: 2px;
      background: #68b738;
    }
    @media(min-width: $desktop-width) {
      &::before{
        top:32px;
      }
    }
  }
}

.navigation__link--current-index{
  @media(min-width: $tablet-width) {
    &::before{
      top: 32px;
    }
  }
  @media(min-width: $desktop-width) {
    &::before{
      background-color: #ffffff;
    }
  }
}

.navigation__link--current-catalog{
  @media(min-width: $desktop-width) {
    &::before{
      top:30px;
    }
  }
}

.navigation__link--main {
  @media(min-width: $tablet-width) {
    width: 64px;
  }

  @media(min-width: $desktop-width) {
    width: 69px;
  }
}
