.products {
  @extend %reset;
  margin-bottom: 52px;

  @media(min-width:$tablet-width) {
    padding-left: 38px;
    margin-bottom: 70px;
    border: 1px solid var(--special_grey, #cdcdcd);
    padding-top: 26px;
  }

  @media(min-width:$desktop-width) {
    padding-left: 80px;
    margin-bottom: 0;
    padding-top: 14px;
    width: 895px;
    border: none;
  }
}

.products__item {
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 280px;
    height: 1px;
    background-color: #cdcdcd;

    @media(min-width:$tablet-width) {
      top: -27px;
      left: -39px;
      width: 707px;
    }

    @media(min-width:$desktop-width) {
      top: -16px;
      left: 0;
      width: 895px;
    }
  }

  @media(min-width:$tablet-width) {
    margin-bottom: 54px;
  }

  @media(min-width:$desktop-width) {
    width: 895px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 17px;
  }
}

.products__item:last-child {
  @media(min-width:$tablet-width) {
    margin-bottom: 26px;
  }

  @media(min-width:$desktop-width) {
    margin-bottom: 26px;

    &::after {
      content: "";
      position: absolute;
      top: 56px;
      left: 0;
      width: 895px;
      height: 1px;
      background-color: #cdcdcd;
    }
  }
}

.products__present {
  width: 280px;
  min-height: 290px;
  background-image: url("../../images/cat-catalog-background@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  outline: 2px solid #68B738;
  outline-offset: -2px;
  padding-left: 58px;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: #68B738;

  @media(min-width:$tablet-width) {
    width: 706px;
    min-height: 201px;
    display: flex;
    padding-bottom: 0;
    padding-top: 58px;
    justify-content: flex-start;
    gap: 243px;
    margin-bottom: 0;
    background-image: url("../../images/cat-catalog-background-tablet@1x.jpg");
  }

  @media(min-width:$desktop-width) {
    height: 286px;
    width: 245px;
    display: block;
    padding: 55px 44px 43px;
    margin: 0;
    box-sizing: border-box;
    background-position: -34px -3px;
  }
}

.products__image {
  margin-left: 43px;
  margin-bottom: 44px;
  @media(min-width:$tablet-width) {
   margin-left: 20px;
  }

  @media(min-width:$desktop-width) {
    margin-left: 42px;
    margin-bottom: 44px;
  }
}

.products__big-container {
  @media(min-width:$tablet-width) {
    width: 628px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
  }

  @media(min-width:$desktop-width) {
    width: 650px;
    justify-content: flex-start;
    gap: 164px;
    padding-top: 10px;
  }
}

.products__container {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-bottom: 12px;

  @media(min-width:$tablet-width) {
    width: 221px;
    justify-content: space-between;
    padding-top: 2px;
  }

  @media(min-width:$desktop-width) {
    width: 221px;
    width: 286px;
  }
}

.products__container--litres{
  @media(min-width:$desktop-width) {
    justify-content: flex-start;
    gap:102px;
  }
}

.products__title {
  @extend %reset;
  color: var(--special_dark-grey-2, #222222);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media(min-width:$tablet-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  @media(min-width:$desktop-width) {
    width: 161px;
  }
}

.products__text {
  @extend %reset;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media(min-width:$tablet-width) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  @media(min-width:$desktop-width) {
    width: 131px;
  }
}

.products__text--price {
  @media(min-width:$tablet-width) {
    width: 42px;
    text-align: end;
  }
}

.products__text--five-litres {
  @media(min-width:$tablet-width) {
    margin-left: 65px;
  }

  @media(min-width:$desktop-width) {
    margin-left: 0;
  }
}

.products__text--one-litre {
  @media(min-width:$tablet-width) {
    margin-left: 82px;
  }

  @media(min-width:$desktop-width) {
    margin-left: 0;
  }
}

.products__text--gramm {
  @media(min-width:$tablet-width) {
    margin-left: 8px;
  }

  @media(min-width:$desktop-width) {
    margin-left: 0;
  }
}

.products__text--present {
  width: 161px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  word-wrap: break-word;

  @media(min-width:$tablet-width) {
    margin-left: 22px;
    padding-top: 13px;
    width: 161px;
    text-align: left;
  }

  @media(min-width:$desktop-width) {
    padding-top: 0;
    text-align: center;
    margin-left: 0;
  }
}
