.products__title {
  @extend %reset;
  color: var(--special_dark-grey-2, #222222);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.products__text {
  @extend %reset;
}

.additionally__text {
  @extend %reset;
}
