.slider {
  width: 280px;
  height: 256px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  @media(min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 280px;
  height: 256px;

  @media(min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: width 1s ease;
}

.slider__screen--before {
  z-index: 5;
  background: #eaeaea;
  width: 50%;
  position: relative;

  &::before {
    @media(min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 147px;
      background-color: #ffffff;
      z-index: -1;
    }
    @media(min-width: $desktop-width) {
      height: 136px;
    }
  }
}

.slider--before .slider__screen--before {
  width: 100%;
}

.slider--after .slider__screen--before {
  width: 0;
}

.slider__screen--after {
  z-index: 1;
  background: #eaeaea;

  &::before {
    @media(min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 147px;
      background-color: #ffffff;
      z-index: -1;
    }
    @media(min-width: $desktop-width) {
      height: 136px;
    }
  }
}

.slider__image {
  width: 280px;
  height: 256px;

  @media(min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__toggle {
  width: 40px;
  height: 40px;
  display: block;
  border: 2px solid #666666;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  background-image: url("../../images/icons/thumb.svg");
  background-repeat: no-repeat;

  @media(min-width: $tablet-width) {
    top: 49%;
    left: 50%;
  }
  @media(min-width: $tablet-width) {
    top: 50%;
    left: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 16px;
    height: 111px;
    width: 4px;
    background-color: #666666;
    @media(min-width: $tablet-width) {
      top:-235px;
      height: 236px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 16px;
    height: 111px;
    width: 4px;
    background-color: #666666;

    @media(min-width: $tablet-width) {
      height: 240px;
      top: 36px;
      left: 17px;
    }
  }
}

.slider--before .slider__toggle {
  left: 100%;
  transition: left 1s ease;
}

.slider--after .slider__toggle {
  left: 0;
  transition: left 1s ease;
}
