.types-item {
  width: 320px;
  padding-top: 21px;
  padding-bottom: 25px;
  box-sizing: border-box;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0 37px 40px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 324px;
      min-height: 71px;
      background-color: #ffffff;
      z-index: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      width: 245px;
      min-height: 88px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 38px 40px;
    box-sizing: border-box;
  }
}

.types-item--plus {
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding-top: 121px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 65px;
      left: 0;
      width: 321px;
      min-height: 425px;
      border: 2px solid #f2f2f2;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      width: 242px;
      padding-bottom: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 136px;
  }
}

.types-item__big-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.types-item__container {
  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
    width: 169px;
  }
}

.types-item__title {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--special_dark-grey-2, #222222);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  padding-top: 1px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
  margin-bottom: 14px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 135px;
    text-align: center;
    margin-left: 57px;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 16px;
    margin-bottom: 24px;
  }
}

.types-item__title--more {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 205px;
  margin-left: 39px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    color: #111111;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 134px;
    margin-left: 58px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 17px;
    margin-bottom: 25px;
  }
}

.types-item__text {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 42px;
  color: var(--special_dark-grey, #444444);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    width: 55px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.types-item__text--left {
  text-align: left;
}

.types-item__text--more {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--special_dark-grey, #444444);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-left: 31px;
  margin-bottom: 21px;
  width: 219px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 170px;
    margin-left: 40px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 90px;
  }
}

.types-item__image {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 17px;
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 9px;
    margin-left: 0;
    padding-top: 17px;
  }
}

.types-item__plus {
  margin-left: 125px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-left: 96px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 54px;
    margin-bottom: 37px;
  }
}

.types-item__characters {
  width: 140px;
  display: flex;
  justify-content: flex-start;
  gap: 10px 56px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-bottom: 12px;
    gap: 10px 140px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-bottom: 12px;
    gap: 59px;

    &::before {
      content: "";
      width: 169px;
    }
  }
}

.types-item__characters:last-child {
  @media (min-width: $desktop-width) {
    &::before {
      top: 29px;
    }
  }
}


.types-item__list-characters {
  margin: 0;
  padding: 0;
  list-style: none;
}
