.types {
  width: 320px;
  margin: 0 auto 25px;
  padding-left: 41px;

  @media (min-width: $tablet-width) {
    width: 710px;
    margin: 0 auto 70px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto 75px;
  }
}
