.types-list {
  @extend %reset;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    margin-left: 10px;
    gap: 71px 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    margin-left: 90px;
    gap: 54px 80px;
  }

}
